[Unit]
Description=HTTP gateway for metrictank TSDB
 
[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/tsdb-gw "--config=/etc/tsdb-gw.ini"
Restart=always

[Install]
WantedBy=multi-user.target
